body{
background-color:  #f5f2d0;
}
h1{
font-family: 'Poppins', sans-serif;
font-size: 300%;
}
h2{
font-family: 'Poppins:wght@300', sans-serif;
}
h3{
font-family: 'Roboto', sans-serif;
}
p{
font-family:'Roboto:wght@100', sans-serif;
font-size: 95%;
}
.page-wrapper{
    text-align: center;
    align-items: center;
    clear: both;
}
#zen-preamble{
    width: 700px;
    background: #6DEEF8;
    align-items: center;
    justify-content: space-around;
    padding: 40px 50px;
}
#zen-explanation{
    width: 700px;
    background: #5FD9C0;
    align-items: center;
    justify-content: space-around;
    padding: 40px 50px;
    position: absolute;
    left: 549px;
}
#zen-participation{
    width: 700px;
    background: #75F0B5;
    align-items: center;
    justify-content: space-around;
    padding: 40px 50px;
    position: absolute;
    bottom: -729px;
}
#zen-benefits{
    width: 700px;
    background: #5FD97C;
    align-items: center;
    justify-content: space-around;
    padding: 40px 50px;
    position: absolute;
    bottom: -953px;
    left: 549px;
}
#zen-requirements{
    width: 700px;
    background: #76F86D;
    align-items: center;
    justify-content: space-around;
    padding: 40px 50px;
    position: absolute;
    bottom: -1458px;
}
header{
    width: 350px;
    background: #8f8e80;
    box-shadow: #f5f2d0;
    align-items: center;
    padding: 40px 50px;
    border-radius: 5%;
}
#design-selection{
    float: left;
    position: absolute;
    bottom: -1750px;
    display: block;
    padding: .5em;
    border: 1px solid #ba89a8;
    border-radius: .5em;
    margin: .25em;
    width: 80%;
}